grafana:
  enabled: true
  service:
    type: LoadBalancer
    loadBalancerIP: 10.13.13.15
  persistence:
    enabled: true
    type: sts
    storageClassName: "longhorn"
    accessModes:
      - ReadWriteOnce
    size: 20Gi
    finalizers:
      - kubernetes.io/pvc-protection
