grafana:
  enabled: true
  service:
    type: LoadBalancer
    loadBalancerIP: 10.13.13.15
  persistence:
    enabled: true
    type: sts
    storageClassName: "longhorn"
    accessModes:
      - ReadWriteOnce
    size: 20Gi
    finalizers:
      - kubernetes.io/pvc-protection
  assertNoLeakedSecrets: false
  grafana.ini:
    auth:
      signout_redirect_url: "https://auth.salverdaserver.nl/application/o/grafana/end-session/"
      oauth_auto_login: true
    auth.generic_oauth:
      name: authentik
      enabled: true
      scopes: "openid profile email"
      auth_url: "https://auth.salverdaserver.nl/application/o/authorize/"
      token_url: "https://auth.salverdaserver.nl/application/o/token/"
      api_url: "https://auth.salverdaserver.nl/application/o/userinfo/"
      # Optionally map user groups to Grafana roles
      role_attribute_path: contains(groups, 'authentik Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'
    server:
      root_url: "https://grafana.salverdaserver.nl"

prometheus:
  prometheusSpec:
    retention: 3d
    replicas: 1
    storageSpec: 
     volumeClaimTemplate:
       spec:
         storageClassName: longhorn
         accessModes: ["ReadWriteOnce"]
         resources:
           requests:
             storage: 20Gi
