config:
  fullnameOverride: multus
  cni_conf:
    confDir: /var/lib/rancher/k3s/agent/etc/cni/net.d
    binDir: /var/lib/rancher/k3s/data/cni/
    kubeconfig: /var/lib/rancher/k3s/agent/etc/cni/net.d/multus.d/multus.kubeconfig
    cniVersion: 1.0.0
    multusCniConfDir: /var/lib/rancher/k3s/agent/etc/cni/net.d
    multusAutoconfigDir: /var/lib/rancher/k3s/agent/etc/cni/net.d
manifests:
  dhcpDaemonSet: true
# rke2-whereabouts:
#   fullnameOverride: whereabouts
#   enabled: true
#   cniConf:
#     confDir: /var/lib/rancher/k3s/agent/etc/cni/net.d
#     binDir: /var/lib/rancher/k3s/data/cni/
